/**********************
* Made changes to fit my project better
* Since: 2024-12-06
* Author: Sherri Ashton
************************/

html {
    overflow: auto !important;
    min-width: 246px;
}

/* Mathew Elder provided (2023-10) the following style to fix our view issue with many columns */
th {
    white-space: normal;
}

/*about title*/
h2.title.is-2 {
    color: #000 !important;
    text-align: center;
}

/* Set the color for dropdown items to match the navbar primary color */
.navbar-link, .navbar-item, .dropdown-item {
    color: var(--main-color-primary) !important;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Styling for hover effect */
.navbar-link:hover, .dropdown-item:hover {
    color: var(--main-color-text) !important;
    background-color: var(--main-color-white) !important;
}

/* Active link styling for consistency */
.nav-link.active, .navbar-item.active, .dropdown-item.active {
    color: var(--main-color-primary) !important;
    font-weight: bold;
}

:root {
    /* Variable for team color */
    --main-color-grey: #9c9a9a;
    --main-color-primary: #d1a36e;
    --main-color-white: #f9f4ef;
    --main-color-text: #fa8072;
    --main-color-bright: #ffffff;
    --main-color-container: #e4ddd6;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--main-color-grey);
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

nav, .nav, .navbar {
    margin-bottom: 50px;
    background: var(--main-color-white) !important;
    position: sticky !important;
}

/* Navbar brand logo */
.navbar-brand, .navbar-brand:hover {
    color: var(--main-color-primary) !important;
}

.navbar-nav .nav-link.active, .navbar-nav, .nav-link.show, .nav-link, .nav-link:hover, .dropdown-toggle, .navbar-nav .nav-link.show {
    color: var(--main-color-primary) !important;
}

label {
    margin-right: 8px;
}

th, tr, td {
    text-align: left;
}

td {
    padding: 10px !important;
}

tr, thead, th {
    white-space: normal;
}

tr th {
    line-height: 1;
    padding-bottom: 8px;
}

tr:nth-child(even) {
    background-color: #FFF;
}

.a {
    padding: 0 32px 0 0;
}

table {
    padding: 0 !important;
    display: inline-block !important;
}

.logo {
    height: 40px;
}

.no-link {
    color: inherit;
}

.no-link:hover {
    text-decoration: none;
    color: inherit;
}

.ftr {
    margin-top: 50px;
    padding: 20px;
    background: var(--main-color-white);
    color: var(--main-color-text);
    bottom: 0;
    width: 100%;
}

h2 {
    padding-bottom: 30px;
    font-size: 30px;

}

.centered {
    margin: 0 auto;
}

.centered2, .has-text-centered {
    text-align: center;
}

form {
    margin-bottom: 10px;
    margin-top: 10px;
}

.title {
    color: var(--main-color-bright) !important;
}

body, p, strong, th {
    color: #000 !important;
}

img.sushi {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* white background box */
.wbb, .ddl {
    padding: 0px 8px 0px 8px !important;
    background-color: #ccc !important;
    border: 8px #ccc solid !important;
    border-radius: 12px !important;
}

.dropdown-menu .dropdown-item {
    white-space: normal;
    word-wrap: break-word;
    max-width: 250px;
}

.container {
    display: inline-block;
    padding: 20px;
    background-color: var(--main-color-bright);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* error message styling */
.no-data-message {
    color: #b22222;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
    text-align: center;
    display: block;
}

/* Feature section styling */
.feature-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.form-container {
    min-height: 600px;

    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--main-color-white);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: height 0.3s ease-in-out;
    height: auto;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container label, .form-container input, .form-container button {
    width: 100%;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="datetime-local"],
.form-container input[type="number"],
.form-container input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--main-color-grey);
}

.form-container, .table-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--main-color-white);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
    min-height: 20px;
    color: #b22222;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
    display: block;
}

/* Submit button styling */
.form-container button {
    padding: 12px;
    background-color: #00d1b2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.form-container button:hover {
    background-color: #3aa473;
}

.form-container .form-control {
    margin-bottom: 10px;
}

.form-container input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-color-grey);
}

/* Styles for cohesive tables */
.table-container {
    max-width: 95%;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--main-color-white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--main-color-grey);
}

.table th {
    background-color: var(--main-color-bright);
    color: var(--main-color-bright);
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:last-child td {
    border-bottom: none;
}

.table tr:hover {
    background-color: var(--main-color-primary);
    color: var(--main-color-bright);
    transition: background-color 0.3s ease;
}

.error-message {
    color: #b22222 !important;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    display: block;
}

p {
    color: #b22222 !important;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    display: block;
    padding-bottom: 10px;

}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 10px;
    }

}
/* Increase the size of the icons */
.icon i {
    font-size: 40px; /* Adjust size as needed */
    line-height: 1; /* Align icon properly */
    vertical-align: middle; /* Center within its container */
}

/* Optional: Adjust spacing around the icons */
.icon {
    margin: 0 8px; /* Adjust spacing between icons */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #00d1b2;
    font-size: 35px;
}

/* Hover effect for larger icons */
.icon :hover {
    color: #3aa473; /* Optional hover color */
    transform: scale(1.1); /* Slight zoom effect */
    transition: transform 0.2s ease, color 0.3s ease;
}
.icon-2 {
    color: #00d1b2;
}
.icon-2 :hover {
    color: #3aa473; /* Optional hover color */
    transform: scale(1.1); /* Slight zoom effect */
    transition: transform 0.2s ease, color 0.3s ease;
}
