<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg sticky-top" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:href="@{/}">
            <img alt="Logo" class="d-inline-block align-text-top"
                 style="width: 26px; height: 27.6666666667px; margin-right: 10px" th:src="@{/images/sushi.png}">
            <span th:text="#{application.name}"></span>
        </a>
    </div>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
       onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
       data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto"> <!-- `me-auto` ensures spacing between sections -->
            <li class="nav-item me-3"> <!-- `me-3` adds margin-right -->
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" id="reservationDropdown" role="button" data-bs-toggle="dropdown"
                   th:classappend="${#httpServletRequest.getRequestURI().contains('/reservation') ? 'active' : ''}"
                   th:href="@{/reservation}">Reservations</a>
                <ul class="dropdown-menu" aria-labelledby="reservationDropdown">
                    <li><a class="dropdown-item" th:href="@{/reservation/today}">Today's Reservations</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle" id="reportDropdown" href="#" role="button" data-bs-toggle="dropdown" th:classappend="${#httpServletRequest.getRequestURI().contains('/report') ? 'active' : ''}" th:href="@{/report}">Reports</a>
                <ul class="dropdown-menu" aria-labelledby="reportDropdown">
                    <li><a class="dropdown-item" th:href="@{/report/reservation/daterange}" th:text="#{label.report.restaurant.reservation.date.range}">Date Range</a></li>
                    <li><a class="dropdown-item" th:href="@{/report/reservation/minlength}" th:text="#{label.report.restaurant.reservation.min.length}">Min Pass Length</a></li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="aboutDropdown" href="#" role="button" data-bs-toggle="dropdown" th:classappend="${#httpServletRequest.getRequestURI().contains('/about') ? 'active' : ''}" th:href="@{/about}">About</a>
                <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                    <li><a class="dropdown-item" th:href="@{/about}">About</a></li>
                    <li><a class="dropdown-item" th:href="@{/pirate}">Pirate</a></li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
