<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg sticky-top" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:href="@{/}">
            <img alt="Logo" class="d-inline-block align-text-top"
                 style="width: 26px; height: 27.6666666667px; margin-right: 10px" th:src="@{/images/sushi.png}">
            <span th:text="#{application.name}"></span>
        </a>
    </div>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
       onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
       data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}" th:href="@{/}">Home</a>
            </li>
        </ul>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a th:href="@{/reservation}" th:classappend="${#httpServletRequest.getRequestURI().contains('/reservation') ? 'active' : ''}" class="navbar-link">Reservations</a>
                <div class="navbar-dropdown">
                    <a th:href="@{/reservation/view}" class="navbar-item">View</a>
                    <hr class="navbar-divider">
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/report}" th:classappend="${#httpServletRequest.getRequestURI().contains('/report') ? 'active' : ''}" class="navbar-link">Reports</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/report/reservation/daterange}" class="navbar-item"
                           th:text="#{label.report.restaurant.reservation.date.range}">Date Range</a>
                        <a th:href="@{/report/reservation/minlength}" class="navbar-item"
                           th:text="#{label.report.restaurant.reservation.min.length}">Min Pass Length</a>
                        <hr class="navbar-divider">
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/about}" th:classappend="${#httpServletRequest.getRequestURI().contains('/about') ? 'active' : ''}" class="navbar-link">Other</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/about}" href="/about" class="navbar-item">About</a>
                            <hr class="navbar-divider">
                            <a th:href="@{/pirate}" href="/pirate" class="navbar-item">Pirate</a>
                            <hr class="navbar-divider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
