<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title id="pageTitle">Reservations</title>
</head>
<body>
<!--navbar-->
<nav th:replace="fragments/navHeader :: navbar"></nav>
<div class="container table-container">
    <h2 class="text-center mb-4">Reservations</h2>
    <p th:if="${not #strings.isEmpty(message)}" th:text="${message}">Message from controller</p>

    <!-- Search Form -->
    <form th:object="${reservation}" th:action="@{/reservation/search}" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}"/>
        <button type="submit">Search</button>
    </form>

    <!-- Reservations Table -->
    <table class="table is-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date and Time</th>
            <th>Number of Adults</th>
            <th>Number of Seniors</th>
            <th>Number of Children</th>
            <th>Coupon Discount</th>
            <th>Total Cost</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="current : ${reservations}">
            <td th:text="${current.id}"></td>
            <td th:text="${current.name}"></td>
            <td th:text="${current.email}"></td>
            <td th:text="${current.formattedReservationDateTime}"></td>
            <td th:text="${current.numberOfAdults}"></td>
            <td th:text="${current.numberOfSeniors}"></td>
            <td th:text="${current.numberOfChildren}"></td>
            <td th:text="${current.couponDiscount}"></td>
            <td th:text="${#numbers.formatCurrency(current.totalCost)}"></td>
            <td>
                <a th:href="@{/reservation/edit/{id}(id=${current.id})}">
                    <i class="fas fa-edit" title="Edit"></i>
                </a>
                <a th:href="@{/reservation/delete/{id}(id=${current.id})}">
                    <i class="fas fa-trash" title="Delete"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Total Number of Reservations -->
    <p>Total: <b th:text="${#lists.size(reservations)}"></b> reservations.</p>

    <!-- Adds New Reservation -->
    <a th:href="@{/reservation/add}">
        <button class="button is-primary">Add New Reservation</button>
    </a>
</div>
<!--footer-->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
